*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  align-items: space-around;
  background: #f2f5ea;
  height: 100vh;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 70px;
  width: 100vw;
  background-color: #bbc7a4;
  color: #f2f5ea;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.Button {
  color: #f2f5ea;
  width: 40px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #d6dbd2;
  border: #d6dbd2;
  border-radius: 50%;
}

.FilterList {
  display: flex;
  overflow-x: scroll;
  justify-content: space-around;
  height: 50px;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;

  background-color: #d6dbd2;
}
.Filter {
  background-color: #e75a7c;
  width: 200px;
  min-width: 100px;
  height: 30px;
  min-height: 30px;
  color: #f2f5ea;
  margin: 10px;
}
.RestaurantList {
  display: flex;
  flex-wrap: wrap;
  /* height: 1fr; */
  justify-content: center;
  background-color: #f2f5ea;
  padding: 20px;
}
.Restaurant {
  display: flex;
  background-color: #bbc7a4;
  color: #f2f5ea;
  width: 400px;
  margin: 10px;
  padding: 10px;
}
.RestaurantImage {
  width: 30%;

  margin: 10px;
}
.RestaurantInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px;
}
