*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  align-items: space-around;
  background: #f2f5ea;
  height: 100vh;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  height: 70px;
  width: 100vw;
  background-color: #bbc7a4;
  color: #f2f5ea;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 40px;
}
.Button {
  background-color: #bbc7a4;
  width: 200px;
  min-width: 100px;
  height: 30px;
  min-height: 30px;
  color: #e75a7c;
  margin: 10px;
  border: 2px solid #f2f5ea;
}

.FilterList {
  display: flex;
  overflow-x: scroll;
  justify-content: space-around;
  height: 50px;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;

  background-color: #d6dbd2;
}
.Filter {
  background-color: #e75a7c;
  width: 200px;
  min-width: 100px;
  height: 30px;
  min-height: 30px;
  color: #f2f5ea;
  margin: 10px;
  border: 2px solid #f2f5ea;
}
.RestaurantList {
  display: flex;
  flex-wrap: wrap;
  /* height: 1fr; */
  justify-content: center;
  background-color: #f2f5ea;
  padding: 20px;
}
.Restaurant {
  display: flex;
  background-color: #bbc7a4;
  color: #f2f5ea;
  width: 400px;
  margin: 10px;
  padding: 10px;
}
.RestaurantInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px;
}
.RestaurantName {
  margin: 3px;
}
.RestaurantDescription {
  margin: 2px;
}
.RestaurantImage {
  width: 100px;
  margin: 0px;
  align-items: center;
  border: 2px solid #f2f5ea;
}
.RestaurantCategories {
  display: flex;

  color: #d6dbd2;
  font-weight: bold;
  margin: 3px;
  font-size: 14px;
}
h5 {
  margin-bottom: 4px;
  margin-top: 4px;
}
.RestaurantCategory {
  margin: 3px;
  margin-left: 10px;
}
@media screen and (max-width: 879px) {
  .RestaurantImageExtra {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .header {
    font-size: 20px;
  }
}
@media screen and (min-width: 880px) {
  .Restaurant {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .RestaurantImage {
    align-content: center;
    height: 100px;
    width: 100px;
    margin: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ImgContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .RestaurantImageExtra {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #f2f5ea;
  }
  .RestaurantInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }
}
